BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
HR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WORD-WRAP: break-word; PADDING-TOP: 0px
}
BODY {
	FONT: 14px/1.5 tahoma,arial,ו,sans-serif
}
HTML {
	FONT: 14px/1.5 tahoma,arial,ו,sans-serif
}
INPUT {
	FONT: 14px/1.5 tahoma,arial,ו,sans-serif
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
PRE {
	WORD-WRAP: break-word
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
INPUT.dialog {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 0; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-LEFT-STYLE: none
}
H1 {
	FONT-SIZE: 34px
}
H2 {
	FONT-SIZE: 26px
}
H3 {
	FONT-SIZE: 18px
}
H4 {
	FONT-SIZE: 16px
}
H5 {
	FONT-SIZE: 14px
}
H6 {
	FONT-SIZE: 12px
}
INPUT {
	VERTICAL-ALIGN: middle
}
LABEL {
	VERTICAL-ALIGN: middle
}
IMG {
	VERTICAL-ALIGN: middle
}
TH {
	VERTICAL-ALIGN: middle
}
.font-fixh {
	FONT-FAMILY: Georgia,Arial; COLOR: #f00; FONT-SIZE: 16px; FONT-WEIGHT: 700
}
ADDRESS {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
DFN {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
VAR {
	FONT-STYLE: normal
}
CODE {
	FONT-FAMILY: courier new,courier,monospace
}
KBD {
	FONT-FAMILY: courier new,courier,monospace
}
PRE {
	FONT-FAMILY: courier new,courier,monospace
}
SAMP {
	FONT-FAMILY: courier new,courier,monospace
}
INPUT.button {
	PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.25em; WIDTH: auto; PADDING-RIGHT: 0.25em; OVERFLOW: visible; PADDING-TOP: 0.25em; _width: 0
}
INPUT.btn {
	PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.25em; WIDTH: auto; PADDING-RIGHT: 0.25em; OVERFLOW: visible; PADDING-TOP: 0.25em; _width: 0
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.white {
	COLOR: #fff
}
.white A {
	COLOR: #fff
}
.blue {
	COLOR: #004499
}
.blue A {
	COLOR: #004499
}
.gray4 {
	COLOR: #999
}
A.gray4 {
	COLOR: #999
}
.red {
	COLOR: red
}
.red A {
	COLOR: red
}
A.red {
	COLOR: red
}
.green {
	COLOR: #0e774a
}
SELECT OPTGROUP {
	COLOR: #cac8bb
}
header {
	DISPLAY: block
}
.hidden {
	DISPLAY: none
}
.invisible {
	VISIBILITY: hidden
}
.ib {
	ZOOM: 1; DISPLAY: inline
}
.ib-a A {
	ZOOM: 1; DISPLAY: inline
}
.clear:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.main:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clear {
	DISPLAY: inline-block
}
.main {
	DISPLAY: inline-block
}
* HTML .clear {
	HEIGHT: 1%
}
* HTML .main {
	HEIGHT: 1%
}
.clear {
	DISPLAY: block
}
.main {
	DISPLAY: block
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f16 {
	FONT-SIZE: 16px
}
.f18 {
	FONT-SIZE: 18px
}
.f20 {
	FONT-SIZE: 20px
}
.lh20 {
	LINE-HEIGHT: 20px
}
.lh22 {
	LINE-HEIGHT: 22px
}
.lh24 {
	LINE-HEIGHT: 24px
}
.lh26 {
	LINE-HEIGHT: 26px
}
.lh28 {
	LINE-HEIGHT: 28px
}
.fb {
	FONT-WEIGHT: bold
}
.fn {
	FONT-WEIGHT: normal
}
.bk {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk3 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk6 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk8 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk10 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk15 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk20 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk30 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk3 {
	HEIGHT: 3px
}
.bk6 {
	HEIGHT: 6px
}
.bk8 {
	HEIGHT: 8px
}
.bk10 {
	HEIGHT: 10px
}
.bk15 {
	HEIGHT: 15px
}
.bk20 {
	HEIGHT: 20px
}
.bk30 {
	HEIGHT: 30px
}
.row-2 LI {
	WIDTH: 50%; FLOAT: left
}
.row-3 LI {
	WIDTH: 33%; FLOAT: left
}
.row-4 LI {
	WIDTH: 25%; FLOAT: left
}
.row-5 LI {
	WIDTH: 20%; FLOAT: left
}
.cu {
	CURSOR: pointer
}
.cu-li LI {
	CURSOR: pointer
}
.cu-span SPAN {
	CURSOR: pointer
}
.text-c {
	TEXT-ALIGN: center
}
.text-l {
	TEXT-ALIGN: left
}
.text-r {
	TEXT-ALIGN: right
}
.lf {
	FLOAT: left
}
.rt {
	FLOAT: right
}
.pr {
	POSITION: relative
}
.pa {
	POSITION: absolute
}
.img-wrap {
	BORDER-BOTTOM: #eee 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #eee 1px solid; OVERFLOW: hidden; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid
}
.img-wrap A {
	BACKGROUND-COLOR: #fff; DISPLAY: block; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.img-wrap A:hover {
	BACKGROUND-COLOR: #e8eff6
}
.col-left {
	FLOAT: left
}
.col-auto {
	OVERFLOW: hidden; _zoom: 1; _float: left
}
.col-right {
	FLOAT: right
}
.txt {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; HEIGHT: 20px; FONT-SIZE: 14px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#mtzt A:link {
	COLOR: #006; TEXT-DECORATION: underline
}
#mtzt A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
#closed {
	Z-INDEX: 1003; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 320px; DISPLAY: none; HEIGHT: 120px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 30px
}
.meitilist {
	PADDING-BOTTOM: 0px; MARGIN: 10px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 0px
}
.meitilist LI {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; PADDING-LEFT: 5px; WIDTH: auto; PADDING-RIGHT: 5px; FLOAT: left; COLOR: #009; BORDER-TOP: #ccc 1px solid; MARGIN-RIGHT: 10px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
#searchtr TR {
	BACKGROUND-COLOR: #e8ffe8
}
#searchtr TR:hover {
	BACKGROUND-COLOR: #e0e0e0
}
#searchtr TR.highlight {
	BACKGROUND-COLOR: #e0e0e0
}
