
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1485278070501'); /* IE9*/
  src: url('iconfont.eot?t=1485278070501#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1485278070501') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1485278070501') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1485278070501#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuanji:before { content: "\344b"; }

.icon-appreciate:before { content: "\e644"; }

.icon-edit:before { content: "\e649"; }

.icon-discoverfill:before { content: "\e6ba"; }

.icon-appreciatefill:before { content: "\e6e3"; }

.icon-copy:before { content: "\e706"; }

.icon-baby:before { content: "\e711"; }

.icon-cart:before { content: "\e698"; }

.icon-form:before { content: "\e6a2"; }

.icon-selected:before { content: "\e6ad"; }

.icon-survey:before { content: "\e6b2"; }

.icon-account:before { content: "\e6b8"; }

.icon-repair:before { content: "\e738"; }

.icon-repairfill:before { content: "\e73a"; }

.icon-ziyouanpai:before { content: "\e6ec"; }

.icon-zans:before { content: "\e719"; }

